@import url("./pages/home/home.css");

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  --font-sm: .75rem;
  --clr-blue-sm:rgba(121, 186, 230, 0.2);
--clr-blue-md : hsl(242deg 48% 58%)
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  /* max-width: 1800px; */
  max-width: 100%;
  margin-inline: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

fieldset {

  border: none;
  outline: none
}

.container {
  border: 1px solid black;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.block {
  display: block;
}

.item-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.content-center {
  align-content: center;
}

.align-self-end {
  align-self: end;
}

.bold{
  font-weight: bold;
}

.gap-x-05 {
  column-gap: .5rem;
}

.gap-x-1 {
  column-gap: 1rem;
}

.gap-x-2 {
  column-gap: 2rem;
}

.gap-x-3 {
  column-gap: 3rem;
}
.gap-y-05 {
  row-gap: .5rem;
}
.gap-y-1 {
  row-gap: 1rem;
}

.gap-y-2 {
  row-gap: 2rem;
}

.gap-y-3 {
  row-gap: 3rem;
}

.p-x-05 {
  padding-inline: 0.5rem;
}

.p-x-1 {
  padding-inline: 1rem;
}

.p-x-2 {
  padding-inline: 2rem;
}

.p-y-05 {
  padding-block: .5rem;
}

.p-y-1 {
  padding-block: 1rem;
}

.p-y-2 {
  padding-block: 2rem;
}

.mbe-05 {
  margin-block-end: 0.5rem;
}

.mbe-1 {
  margin-block-end: 1rem;
}

.font-white {
  color: white;
}

.font-black {
  color: black;
}

.font-dark-white {
  color: hsl(216deg 15% 57%);
}

.padding-block-1 {
  padding-block: 1rem;
}

.color-dark-white {
  color:hsl(216deg 15% 57%);
}


.bg-white{
  background-color: white;
}
.bg-blue-sm{
  background-color: var(--clr-blue-sm);
}

.bg-blue-md {
  background-color: var(--clr-blue-md);
}

.bg-red{
  background-color: red;
}

.font-red{
  color:red
}

.font-sm {
  font-size: var(--font-sm);
}

.hidden {
  display: none;
}

.rounded-md {
  border-radius: 1rem;
}
.rounded-sm {
  border-radius: .2rem
}


.relative{
  position:relative;
}

.absolute{
  position:absolute;
}
